name: macos build workflows

on:
  push:
    branches: 
      - 'master'
    paths:
      - 'XEngine_Source/**'
      - 'XEngine_Release/**'
      - '.github/**'
  
jobs:
  build:
    strategy:
      matrix:
        include:
          - os: macos-15
          - os: macos-15-intel
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Checkout main repository code
        uses: actions/checkout@v4
        with:
          ref: 'master'
        
      - name: Checkout dependency repository (xengine)
        uses: actions/checkout@v4
        with:
          repository: libxengine/libxengine
          path: libxengine

      - name: sub module checkout (opensource)
        run: |
            git submodule init
            git submodule update

      - name: Set TERM variable
        run: echo "TERM=xterm" >> $GITHUB_ENV   
                 
      - name: Set up Dependency x86_64 Environment 
        if: matrix.os == 'macos-15-intel'
        run: |
            cd libxengine
            chmod 777 *
            ./XEngine_LINEnv.sh -i 3
      - name: Set up Dependency Arm64 Environment 
        if: matrix.os == 'macos-15'
        run: |
            latest_tag=$(git ls-remote --tags --sort="v:refname" https://github.com/libxengine/libxengine.git | awk '{print $2}' | sed 's/refs\/tags\///' | tail -n 1)
            wget https://github.com/libxengine/libxengine/releases/download/$latest_tag/XEngine_Mac_Arm64.zip
            unzip ./XEngine_Mac_Arm64.zip -d ./XEngine_Mac_Arm64
            cd XEngine_Mac_Arm64

            chmod 777 *
            ./XEngine_LINEnv.sh -i 3
      - name: make debug
        run: | 
            cd XEngine_Source
            make PLATFORM=mac 
            make PLATFORM=mac FLAGS=InstallAll
            make PLATFORM=mac FLAGS=CleanAll
      - name: make release
        run: |
            cd XEngine_Source
            make PLATFORM=mac RELEASE=1
            make PLATFORM=mac FLAGS=InstallAll
            make PLATFORM=mac FLAGS=CleanAll
      - name: test
        run: |
            cd XEngine_Release
            ./XEngine_CenterApp -t
            ./XEngine_Http2App -t
            ./XEngine_HttpApp -t
            ./XEngine_SimpleApp -t
            ./XEngine_WebSocketApp -t
